.a {
    background-color: aqua;
    color: blue;
    font-size: 40px;
}

.b {
    background-color: blue;
    color: aqua;
    font-size: 30px;
}

.c {
    background-color: green;
    color: yellow;
    font-size: 20px;
}

.button_1 {
    padding: 3px;
    margin: 3px;
    border: 1px solid black;
}